<!-- if wew want to some code hidden ......then  we use  pip install python-decouple -->
<!-- like email, password,locallhost,SECRET_KEY,etc jeno github e upload na hoi project er sathe -->


<!-- link https://pypi.org/project/python-decouple/ -->

SECRET_KEY =
DEBUG =
