<div
  class="page-section nopadding cs-nomargin"
  style="
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    background: #69bbc0;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="company-logo simple">
          <ul>
            <li>
              <figure>
                <a href="#"
                  ><img src="assets/extra-images/fb-clients-1.png" alt=""
                /></a>
              </figure>
            </li>
            <li>
              <figure>
                <a href="#"
                  ><img src="assets/extra-images/fb-clients-2.png" alt=""
                /></a>
              </figure>
            </li>
            <li>
              <figure>
                <a href="#"
                  ><img src="assets/extra-images/fb-clients-3.png" alt=""
                /></a>
              </figure>
            </li>
            <li>
              <figure>
                <a href="#"
                  ><img src="assets/extra-images/fb-clients-4.png" alt=""
                /></a>
              </figure>
            </li>
            <li>
              <figure>
                <a href="#"
                  ><img src="assets/extra-images/fb-clients-5.png" alt=""
                /></a>
              </figure>
            </li>
            <li>
              <figure>
                <a href="#"
                  ><img src="assets/extra-images/fb-clients-6.png" alt=""
                /></a>
              </figure>
            </li>
            <li>
              <figure>
                <a href="#"
                  ><img src="assets/extra-images/fb-clients-7.png" alt=""
                /></a>
              </figure>
            </li>
            <li>
              <figure>
                <a href="#"
                  ><img
                    src="{% static 'extra-images/fb-clients-8.png' %}"
                    alt=""
                /></a>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
