<div
  class="page-section nopadding cs-nomargin"
  style="
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: #ffffff;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="main-post promo-box">
          <div class="img-frame">
            <figure>
              <img
                src="{% static 'extra-images/main-post-img-1.png' %}"
                alt="#"
              />
            </figure>
          </div>
          <div class="column-text">
            <h3 style="color: #000000 !important">
              FoodBakery in your mobile! Get our app
            </h3>
            <div class="promo-content">
              Get our app, it's the fastest way to order food on the go.
            </div>
            <a class="app-btn" href="#"
              ><img src="{% static 'extra-images/app-img1-1.png' %}" alt=""
            /></a>
            <a class="app-btn" href=""
              ><img src="{% static 'extra-images/app-img2-1.png' %}" alt=""
            /></a>
            <form>
              <div class="field-holder">
                <input
                  class="field-input"
                  type="email"
                  placeholder="Your Email"
                />
                <label class="field-label-btn"
                  ><input class="field-btn" type="submit" value="Send Link"
                /></label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
