
{% extends "base.html" %}

{% block title %}HomePage{% endblock %}

{% block main_contant %}

{% include 'include_page/registration.html' %}

{% block main_search %}{% endblock %}

{% block Browse_Cuisine %} {% endblock %}

{% block Popular_Localities %} {% endblock %}

{% block Top_Restarurants %}{% endblock %}

{% block Most_Popular_Listing_1 %}{% endblock %}

{% block Most_Popular_Listing_2 %}{% endblock %}

{% block Colunm_Text_order_app %} {% endblock %}


{% endblock %}

{% block Client_logo_footer %} {% endblock %}

