{% extends "base.html" %}
{% load static %}

{% block title %} Registration {% endblock %}
 {% block main_contant %}
<div class="sub-header align-center">
  <div
    class="subheader-holder"
    style="
      background: url({% static "extra-images/subheader-img2-1.jpg" %}) no-repeat;
      background-size: cover;
      padding-top: 60px;
      padding-bottom: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
      min-height: 186px !important;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="text-holder">
            <div class="page-title">
              <h1 style="color: #ffffff !important">PATTNER WIDTH FOODNOLINE</h1>
            </div>
            <p style="color: #ffffff !important">Register Your  Restaurant width foodonline marketplace and get customer </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumbs align-left">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li class="active">Register Vendor </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- registration start  -->


<div class="main-section">
  <div
    class="page-section nopadding cs-nomargin"
    style="
      margin-top: 0px;
      padding-top: 60px;
      padding-bottom: 30px;
      margin-bottom: 0px;
    "
  >
    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="signup-form login-form">
            <div class="tab-content">
         
              <div id="signup_box" class="tab-pane fade in active">
                <div class="scetion-title">
                  <h2 class="mb-3" style="margin-bottom:30px;text-align:center;"> Register Vendor </h2>
                </div>
                <div class="input-info mt-2">

                  <div class="">
                    
                    {% include 'message_show.html' %}
                  </div>

                  <div class="row">
                    <form class="wp-user-form webkit" action="{% url 'registrationVendor' %}"  method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <!-- {{form}} -->
                          <div class="row">

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                  <div class="field-holder">
                                      <label>Frist Name </label>
                                      {{ form.first_name}}
                                  </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                  <div class="field-holder">
                                      <label>Last  Name </label>
                                      {{form.last_name}}                              
                                  </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                  <div class="field-holder">
                                        <label>User  Name </label>
                                        {{form.username}}
                                  </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                  <div class="field-holder">
                                    <label>Email  Name </label>
                                    {{form.email}}
                                  </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                  <div class="field-holder">
                                        <label> vendor Name </label>
                                        {{v_form.vendor_name}}
                                  </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                  <div class="field-holder">
                                        <label>Vendor License </label>
                                        {{v_form.vedor_license}}
                                  </div>
                                </div>

                                

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                  <div class="field-holder">
                                    <label>Password   </label>
                                    {{form.password}}
                                  </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                  <div class="field-holder">
                                    <label>Confirm password   </label>
                                    {{form.confrim_password}}
                                  </div>
                                </div>
                          </div>
                      </div>
                    

                      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div
                          class="shortcode-ajax-signup-button input-button-loader"
                        >
                          <input
                            type="submit"
                            class="cs-bgcolor user-submit acc-submit"
                            value="Create Accounts"
                          />
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="login-section">
                          <i class="icon-user-add"></i> Already have an account?
                          <a
                            href="{% url 'login' %}" >
                            Login here</a
                          >
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <ul class="errorlist">
                  {% for field in form %}
                      {% if field.errors %}
                          {% for error in field.errors %}
                              <li style="color: red;list-style-type:none;">{{error}}</li>
                          {% endfor %}
                      {% endif %}
                  {% endfor %}

                  <li style="color: red;list-style-type:none;">{{form.non_field_errors}}</li>
              </ul>
                <div class="row">
                  <div class="form-bg">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <div class="footer-element">
                        <div class="social-media">
                          <h6><span>Login with</span></h6>
                          <ul>
                            <li>
                              <a
                                href="#"
                                title="Facebook"
                                data-original-title="Facebook"
                                class="social_login_login_facebook facebook"
                                ><i class="icon-facebook"></i>Sign In With
                                Facebook</a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                title="Twitter"
                                data-original-title="twitter"
                                class="social_login_login_twitter twitter"
                                ><i class="icon-twitter3"></i>Sign In With
                                Twitter</a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                rel="nofollow"
                                title="google-plus"
                                data-original-title="google+"
                                class="social_login_login_google gplus"
                                ><i class="icon-google4"></i>Sign In With
                                Google</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="forgot_box" class="tab-pane fade">
                <div class="scetion-title">
                  <h4>Forgot Password</h4>
                </div>
                <form class="user_form">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="input-filed">
                        <i class="icon-email"></i>
                        <input
                          type="text"
                          placeholder="Enter email address..."
                          name="user_input"
                        />
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                      <div
                        class="shortcode-ajax-forgot-button input-button-loader"
                      >
                        <input
                          type="submit"
                          class="reset_password user-submit backcolr cs-bgcolor acc-submit"
                          name="submit"
                          value="Submit"
                        />
                      </div>
                    </div>
                    <div class="col-mlg-7 col-md-7 col-sm-12 col-xs-12">
                      <div class="login-here-seaction login-section">
                        <a
                          href="#login_box"
                          data-toggle="tab"
                          class="login-link-page"
                          >Login Here</a
                        >
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
